backports-datetime-fromisoformat==1.0.0
beautifulsoup4==4.9.3
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fireo==1.4.1
flask==1.1.2
google-api-core==1.25.1
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-firestore==1.9.0
google-cloud-logging==1.15.1
google-cloud-pubsub==1.7.0
google-cloud-tasks==1.5.0
googleapis-common-protos==1.52.0
grpc-google-iam-v1==0.12.3
grpcio==1.35.0
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
protobuf==3.14.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pytz==2020.5
requests==2.25.1
rsa==4.7
six==1.15.0
soupsieve==2.1
tabulate==0.8.7
urllib3==1.26.3
werkzeug==1.0.1