$font-stack: 'Roboto', arial; 
$background-colour: #202124;
$ui-colour: #131313;
$light-ui: #575757;
$text-colour: white;
$ui-element: #505050;
$ui-shadow: #404040;

$pad-px: 20px;

* {
	box-sizing: border-box;
}

html {
	font-family: $font-stack;
	color: $text-colour;
}

body {
	background-color: $background-colour;
}

a {
	color: $text-colour;
	font-size: 20px;
	outline: 0;
	/*text-shadow: 1px 1px 1px #aaa;*/
}

p {
    color: $text-colour;
    font-size: 20px;
	padding: 10px;
}

.ui-text {
	color: $text-colour;
}

.center-text {
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.button {
	background-color: $ui-element;
	color: $text-colour;

	display: inline-block;
	
	border-radius: 3px;
	border: none;
	margin: 4px auto;
	padding: 15px;

	font-size: 15px;

	cursor: pointer;
	
	box-shadow: 0 9px #383838;
	
	text: {
		shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.14);
		align: center;
		decoration: none;
	}

	&:active {
		box-shadow: 0 5px #383838;
		transform: translateY(4px);
	}
}

input[type=text], input[type=password], input[type=number], select {
	padding: 15px;
	background-color: $ui-element;
	border: black;
	border-radius: 3px;
	color: white;
}

.row {
	margin: 30px;
}

.gallerystrip{

	width: 100%;
	margin: auto;
	margin-top: 15px;


	img {
		height: auto;
		border: 10px solid #313439;
		margin: calc($pad-px / 2);
		box-shadow: 4px 4px 7px #070707;
	}
}

.profile {
	background-color: $ui-colour;
	height: auto;
	margin-top: 10px;
	/*border: 8px solid #313439;*/
	border-radius: 0px;
	box-shadow: 7px 7px 8px black;


	img {
		border-radius: 50%;
		display: block;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		border: 8px solid #212121;
		box-shadow: 4px 4px 3px #0c0c0c;
	}
}

h1.title {
	color: black;
	font-size: 6em;
	font-family: 'Pirata One', arial;
	text-shadow: 3px 3px 3px #aaa;
	
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	font-weight: bold;
	display: block;
	text-decoration: none;
	background-color: white;
	padding: 0px;
	/*font-size: 16em;*/
	width: 5em;
	height: 1.3em;
	text-align: center;
	margin: auto;
	box-shadow: 5px 5px 8px #000000;

}

.card {
	/*background-color: grey;*/
	background-color: $ui-colour;
	box-shadow: 4px 4px 8px black;
	padding: 10px;
	margin: calc($pad-px / 2);
	/*border-radius: 3px;*/

	h1 {
		text-align: center;
		color: $text-colour;
		text-shadow: 1px 1px 2px #4f4f4f;
	}

	img {
		width: 100%;
		border-radius: 3px;
		margin-bottom: 8px;	
		box-shadow: 2px 2px 2px black;
		margin-left: auto;
    	margin-right: auto;
	}

	p {
		margin-top: 20px;
	}
}

h1.sectiontitle {
	text-align:center;
	color: $text-colour;
	font-family: 'Megrim', sans-serif;
}

ul.navbar {
	list-style-type: none;
	background-color: $light-ui;
	margin: 10px;
	border-radius: 5px;
	/*box-shadow: 3px 3px 1px grey;*/
	padding: 0;
	overflow: hidden;
	

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;

	box-shadow: 0 9px 12px 0 black, 0 9px 12px 0 black;

	li {
		float: left;
		position: -webkit-sticky;
		position: sticky;
		top: 0;

		a {
			display: block;
			color: $text-colour;
			text-align: center;
			padding: 14px 16px;
			// padding: 10px;
			margin: 2px;
			border-radius: 5px;

			text-decoration: none;
			text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
			-webkit-transition: background-color 0.4s;
  			transition: background-color 0.4s;
		

			&:hover {
				background-color: $ui-shadow;
			}
		}
	}
	
	li.right {float: right;}
}

.sidebar {
	
	list-style-type: none;
	background-color: $light-ui;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	// padding-top: 10px;
	// padding-bottom: 10px;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;

	box-shadow: 0 9px 12px 0 black, 0 9px 12px 0 black;

	tr {
		top: 0;
		cursor: pointer;

		td {
			
			// height: 50px;
			text-align: center;
			vertical-align: center;

			border-radius: 5px;

			a {
				color: $text-colour;

				height: 100%;
				width: 100%;
				display: inline-block;
				vertical-align: center;
				padding: 10px;
				
				text-decoration: none;
				text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
				-webkit-transition: background-color 0.4s;
				transition: background-color 0.4s;	
			}	

			&:hover {
				background-color: $ui-shadow;
			}
		}
	}

}

.sidebar-selected {
	background-color: black; 
}

.app-table {
	width: 100%;
	margin: auto;
	td {
		padding: 5px;
	}
}

.max-width {
	max-width: 800px;
}

.text-no-select {
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

footer {
	p {
		text-align: right;
		font-size: 12px;
	}

	a {
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: right;
		display: block;
		color: grey;
		font-size: 12px;
	}
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: white;
	color: black;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
  }
  
  #snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }

@media only screen and (max-width: 768px) {
  ul.navbar li.right,
  ul.navbar li {float: none;}
}

[class*="col-"] {
  	float: left;
	width: 100%;
}

[class*="pad-"] {
  	float: left;
	width: calc(100% - #{$pad-px});
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  /* For desktop: */
  .pad-2 {width: calc(16.66% - #{$pad-px});}
  .pad-3 {width: calc(25% - #{$pad-px});}
  .pad-4 {width: calc(33.33% - #{$pad-px});}
  .pad-5 {width: calc(41.66% - #{$pad-px});}
  .pad-6 {width: calc(50% - #{$pad-px});}
  .pad-7 {width: calc(58.33% - #{$pad-px});}
  .pad-8 {width: calc(66.66% - #{$pad-px});}
  .pad-9 {width: calc(75% - #{$pad-px});}
  .pad-10 {width: calc(83.33% - #{$pad-px});}
  .pad-11 {width: calc(91.66% - #{$pad-px});}
  .pad-12 {width: calc(100% - #{$pad-px});}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
