<!doctype html>
<html>
<head>
	<title>sarsoo/{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Pirata+One|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

	<link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/sarsooxyzstatic/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/sarsooxyzstatic/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/sarsooxyzstatic/favicon-16x16.png">
	<link rel="manifest" href="https://storage.googleapis.com/sarsooxyzstatic/site.webmanifest">
	<link rel="mask-icon" href="https://storage.googleapis.com/sarsooxyzstatic/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="https://storage.googleapis.com/sarsooxyzstatic/favicon.ico">

	{% block scripts %}{% endblock %}

</head>
<body>
	<div>
		<h1 class="title">sarsoo</h1>
	</div>
	<br><br>
	<ul class="navbar">
		<li><a href="/">Home</a></li>
		<li><a href="https://sarsoo.xyz">Sarsoo.xyz</a></li>
	</ul>

	{% block content %}{% endblock %}
	<img src="https://storage.googleapis.com/sarsooxyzstatic/andy.png"
		 alt="AP"
		 width="120px"
		 style="display: block;
		 margin-left: auto;
		 margin-right: auto;
		 padding: 8px">
</body>
</html>
