<!doctype html>
<html>
<head>
	<title>sarsoo/{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Pirata+One|Lato" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/sarsooxyzstatic/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/sarsooxyzstatic/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/sarsooxyzstatic/favicon-16x16.png">
	<link rel="manifest" href="https://storage.googleapis.com/sarsooxyzstatic/site.webmanifest">
	<link rel="mask-icon" href="https://storage.googleapis.com/sarsooxyzstatic/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="https://storage.googleapis.com/sarsooxyzstatic/favicon.ico">

	{% block scripts %}{% endblock %}

</head>
<body>
	<div>
		<h1 class="title">sarsoo</h1>
	</div>
	<br><br>
	<ul class="navbar">
		<li><a href="/">home</a></li>
		<li><a href="https://sarsoo.xyz">sarsoo.xyz</a></li>
	</ul>

	{% block content %}{% endblock %}
	<footer>
		<a href="https://github.com/Sarsoo/spotify-web">view source code</a>
	</footer>
</body>
</html>
