{% extends 'base.html' %}

{% block title %}music{% endblock %}

{% block content %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="row card pad-12">
					<p class="center-text" style="color: red">{{ message }}</p>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<div class="row">
		<div class="{% if logged_in %}pad-12{% else %}pad-9{% endif %} card">
			<h1>music tools</h1>

			<p class="center-text">create "super-playlists" of smaller modular playlists</p>

			{% if logged_in %}
				<a class="button full-width" href="/app">launch</a>
			{% endif %}
		</div>

		{% if not logged_in %}

		{% block form %}{% endblock %}
		
		{% endif %}
	</div>
{% endblock %}
