{% extends 'index.html' %}

{% block form %}

<div class="card">
    <form name="login" action="/auth/login" method="POST" onsubmit="return handleLogin()" style="display: grid; gap: 30px;">

        <div>
            <p>Username</p>
            <input type="text" name="username" class="full-width" />
        </div>

        <div>
            <p>Password</p>
            <input type="password" name="password" class="full-width" />
        </div>

        <p id="status" style="display: none; color: red" class="center-text"></p>

        <div style="display: grid; gap: 15px;">
            <button class="button full-width" onclick="handleLogin()" type="submit">Login</button>
            <a href="/auth/register" class="button full-width">Register</a>
        </div>

    </form>
    <script src="{{ url_for('static', filename='js/login.bundle.js') }}"></script>
</div>

{% endblock %}